.colunas-main{
  height: 15rem;
  border: 1px solid black;
}

.coluna-carrinho{
  // padding-top: 15px;
  // padding-left: 45px;
}

.vitrine-main{
  height: auto;
  border: 1px solid black;
  padding: 1rem 1rem 1rem 1rem;
}

.rodape-main{
  height: 5rem;
  border: 1px solid black;
  text-align: center;
}

.loader-vitrine {
  text-align: center;
}
